@model feria.Models.Categorium

@{
    ViewData["Title"] = "Eliminar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Está seguro que desea eliminar esta categoria?</h3>
<div>
    <h4>Categorium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nonbre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
