@{
    ViewData["Title"] = "Investigacion";
}
<h1>@ViewData["Title"]</h1>


<br>
<h3>Entity Framework en ASP.NET MVC5</h3>
<br>
<h4> Descripcion de la investigación</h4>
<p>Para este proyecto se utilizó la tecnologia ASP.NET en Visual Studio 2019, además se implemento el uso del Entity Framework Core versión 5.0.17 y una base de
    datos SQL (Microsoft SQL Server Management Studio 18). Finalmente; se implemento el  Modelo-Vista-Controlador (MVC) de ASP.NET. Algunos aspectos positivos al usar el Entity Framework Core: </p>
<ul>
    <li>
        Entity Framework es un tecnología desarrollada por Microsoft, la cual
        nos facilita el trabajo con repositorios de datos desde nuestras
        aplicaciones .NET.
    </li>
    <li>
        Ofrece un nivel de abstracción que permite al desarrollador dedicar
        menos tiempo a escribir código repetitivo de acceso a datos.
    </li>
    <li>Permite la generación de base de datos a partir del código fuente.</li>
    <li>
        Podemos utilizar código de C# para generar queries los cuales
        pueden leer, insertar, actualizar y borrar data de nuestras base de
        datos.
    </li>
    <li>
        Las migraciones nos permiten tener un lugar central, un histórico de
        los cambios de la base de datos.
    </li>
    <li>
        Nos permite aplicar reglas de validaciones reforzadas por el mismo
        Entity Framework.
    </li>
</ul>

<br>
<br>
<iframe src="https://docs.google.com/document/d/1HfqRtE0AoW0xEe0qqMo5Un5-dFS-NOt5/edit?usp=sharing&ouid=111860345313731643925&rtpof=true&sd=true" name="iframe_a" height="700px" width="100%" title="prueba"></iframe>
