@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>

<div class="list-group">
    <a href="https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-5.0?view=aspnetcore-6.0" class="list-group-item list-group-item-action active" aria-current="true" target="_blank">
        Tema ASP.NET 
    </a>
    <a href="mailto:mauren.miranda.quesada@est.una.ac.cr" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Mauren Miranda Quesada</a>
    <a href="mailto:lilliam.solis.avila@est.una.ac.cr" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Lilliam Solis Avila</a>
    <a href="mailto:jonathan.pineda.aleman@est.una.ac.cr" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Jonathan Pineda Aleman</a>
</div>

