@{
    ViewData["Title"] = "Ubicacion de la feria";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<h4>Ubicacion del campo ferial, Direccion: Los Chiles, Alajuela.</h4>
<br>
<br>
<div align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44333.87368206795!2d-84.66359085081129!3d10.842056807215606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f0abf15a911a315%3A0x4c9760856922b318!2sProp.%20Jimenez%20Aleman!5e0!3m2!1ses!2scr!4v1653857878515!5m2!1ses!2scr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" align="middle"></iframe>
</div>

<br>